Customer Support Chatbot using RAG Pipeline.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1gKln_qsu9rZgVGRkzdDcKoV2kldQ2XCK",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gKln_qsu9rZgVGRkzdDcKoV2kldQ2XCK"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-384, 0],
      "id": "7fd87d49-bee9-4d65-9896-e562359575b3",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-160, 0],
      "id": "b228c370-5c24-4518-be36-0f2befbc8c9e",
      "name": "Download file"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-pipeline-chatbot-index",
          "mode": "list",
          "cachedResultName": "rag-pipeline-chatbot-index"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [64, 0],
      "id": "b92f17ae-3a2d-45e4-a2ff-3d17c2a642f2",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [0, 240],
      "id": "9cc4bc1b-1a7e-4361-9960-5eb194a51707",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [208, 224],
      "id": "3e249986-64e9-40c7-ac03-31a54b885812",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [672, -16],
      "id": "bf21f79a-42d4-4afe-80d0-08842a34d1b1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [480, -16],
      "id": "ca44d53f-4b7c-4cd1-a85b-f7b03a073aef",
      "name": "When chat message received",
      "webhookId": "d63986ad-2dc0-4062-8be4-29813d807335"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [592, 304],
      "id": "8be55786-13c0-46d1-bef3-a06c98a24ca6",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-pipeline-chatbot-index",
          "mode": "list",
          "cachedResultName": "rag-pipeline-chatbot-index"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [864, 272],
      "id": "b3d3dae2-a5f1-425a-aa8b-df90399359c1",
      "name": "Pinecone Vector Store2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [960, 480],
      "id": "c87af651-754a-4141-b12a-8dd4930df404",
      "name": "Embeddings OpenAI1"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [[]]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14917b5f3d3e8317e1bc2e736a4c1a22b8f56ab19164cc0ed72db6353c90949a"
  }
}
