Customer Support - reply to emails.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "0a94876c-ff7c-4d0b-a0e4-7b33459f5a2c",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email where the customer ask about our products or our policy."
            },
            {
              "category": "Others",
              "description": "Any email which is not related to the customer support category and the sender does not ask about products or sales details"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are a text classification system.\n\nClassify the following email into one of the two categories:\n- Customer Support\n- Others\n\nReturn the result strictly in json format.\nDo not add any explanation or extra text.\n\nThe json output must be exactly one of the following:\n\n{ \"category\": \"Customer Support\" }\n\nor\n\n{ \"category\": \"Others\" }\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [208, 0],
      "id": "627eb94d-c93e-42e7-8fd7-f91f6e9ee4e0",
      "name": "Text Classifier",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [208, 256],
      "id": "0a2de1c2-ec19-4256-bbb9-eb1f9e3a52e1",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [544, 128],
      "id": "42972d8c-3eb3-4134-9f13-1b1cdf9cfa40",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a customer support agent for Tech Haven. Your job is to respond to\nincoming emails with relevant information using your knowledgeBase tool.\n\n## Instructions\n- Your output should be friendly and use emojis\n- Sign off as Mr. Helpful from Tech Haven Solutions\n\n# Output\n- Output only the body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [880, -16],
      "id": "acdbfe5b-eeb9-403a-ac2d-6f8139601802",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [848, 224],
      "id": "6ff0ea39-5f46-432e-92d5-51c069402cfb",
      "name": "OpenAI Chat Model1",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access policy and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-pipeline-chatbot-index",
          "mode": "list",
          "cachedResultName": "rag-pipeline-chatbot-index"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [1024, 224],
      "id": "257bbc50-5961-4f5c-b5ab-d10d773038cb",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1024, 400],
      "id": "e500e607-94f6-423c-975f-02f7e3f9334f",
      "name": "Embeddings OpenAI",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1424, -16],
      "id": "d286eff1-d87f-4a40-9d4f-6833c0f2b5b7",
      "name": "Reply to a message",
      "webhookId": "e8fa9d99-986d-41bc-9d82-c69266d54ef7"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": ["CATEGORY_FORUMS"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1184, -16],
      "id": "d8b5c819-97be-4665-a702-aac67ea8726c",
      "name": "Add label to message",
      "webhookId": "f8bdbf2b-f9b1-455a-91d4-b412945a97b7"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14917b5f3d3e8317e1bc2e736a4c1a22b8f56ab19164cc0ed72db6353c90949a"
  }
}
