Invoice-Processing.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zj_Ncvwd19BI0XbTDoI8giQ8y_2xm2be",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zj_Ncvwd19BI0XbTDoI8giQ8y_2xm2be"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "10b6ef0a-e827-4d69-bcd6-569ce5be1ada",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [416, 0],
      "id": "cbd35148-979e-46de-bd56-0fd7dc36bc45",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [208, 0],
      "id": "c2f753b9-a67f-445a-9703-18b4c5e3941e",
      "name": "Download file"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "The name of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "The email of the client"
            },
            {
              "name": "Client Address",
              "description": "The address of the client"
            },
            {
              "name": "Client Phone",
              "description": "The phone of the client"
            },
            {
              "name": "Total Amount",
              "description": "The total amount of the invoice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "The date the invoice was sent",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "The date the invoice Due",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [624, 0],
      "id": "84032404-7d61-4bee-ad78-fc41feb06781",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [624, 224],
      "id": "39c6f833-50b4-4f64-8e29-8fcca3fdd858",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11OWIQQr59C086jHLHtkJ6pRtf4Qajveelj0xq4XMPIg",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11OWIQQr59C086jHLHtkJ6pRtf4Qajveelj0xq4XMPIg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoice1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11OWIQQr59C086jHLHtkJ6pRtf4Qajveelj0xq4XMPIg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [976, 0],
      "id": "9816552c-9faf-49c8-a0dd-18d7286ad27b",
      "name": "Update Invoice DB"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=# Overview\nYou are an email expert for Green Grass Corp named Greenic. You will receive invoice\ninformation. Your job is to notify the internal billing team that an invoice was received/sent.\n\n## Emuil\nInform the billing teum of the invoice. Let them know we huve ulso upduted this in the Invoice\nDutubase, und they cun view it here:\n\nhttps://docs.google.com/spreadsheets/d/11OWIQQr59C086jHLHtkJ6pRtf4Qajveelj0xq4XMPIg/edit?gid=0#gid=0\n\n## Output\nOutput the following parameters separately:\nSubject\nEmail"
            },
            {
              "content": "={{ $json['Invoice Number'] }}Invoice Number:\nClient Name:{{ $json['Client Name'] }}\nClient Email:{{ $json['Client Email'] }}\nTotal Amount:{{ $json['Total Amount'] }}\nInvoice Date:{{ $json['Invoice Date'] }}\nDue Date:{{ $json['Due Date'] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1184, 0],
      "id": "e246f9cf-6653-439c-bfab-3d0b0922210d",
      "name": "Message a model"
    },
    {
      "parameters": {
        "sendTo": "xxcc9965@gmail.com",
        "subject": "={{ $json.output[0].content[0].text.Subject }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1536, 0],
      "id": "b99ca2fc-8094-4b72-9917-37e59f04ee65",
      "name": "Send Email",
      "webhookId": "8fb767a7-89dd-4a76-a761-d7f0c9c53b4a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1744, 0],
      "id": "7f4590b1-308e-41d3-9c66-a5616cd8ea35",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update Invoice DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Invoice DB": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14917b5f3d3e8317e1bc2e736a4c1a22b8f56ab19164cc0ed72db6353c90949a"
  }
}
